{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1>Login here.....!!</h1>
        <form action="{% url 'bigbasketapp:user_login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username :</label>
            <input type="text" name="username"><br><br>
            <label for="password">Password :</label>
            <input type="password" name="password"><br><br>
            <input type="submit" class="btn btn-success" value="login">
        </form>
    </div>
</div>

{% endblock %}